<strong>Recherche ton film ici</strong>

<form method="post" >
    
 <input type="text" name="search" class="form-control" placeholder="titre du film" />
   
 <button type="submit" , class="btn btn-success">search</button>
</form>



  	